@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*{
    font-family: 'Rubik', sans-serif;
}

#search-bar{
    width: 100%;
    height: 50px;
    border: 1px black solid;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    margin: 0px;
    padding: 0px;
    position: relative;
}

#search-bar input{
    display: inline-block;
    height: 50px;
    border: none;
    box-sizing: border-box;
    font-size: 20px;
    padding: 20px;
    width: 100%;
    position: relative;
}

#search-bar input:focus{
    outline: none;
}

#search-bar img{
    width: 40px;
    height: 40px;
    padding: 5px;
    display: inline-block;
    float: right;
}

#search-bar img:hover{
    cursor: pointer;
}

#search-bar select{
    display: inline-block;
    border: 1px solid black;
    border: 0px;
    margin-left: 10px;
    height: 30px;
    border-right: 2px solid black;
    align-self: center;
}

#search-bar button{
    background: none;
    border: none;
}

#filter-by-continent{
    display: grid;
    grid-template-columns: 20% 11.4% 13.4% 13.4% 10.4% 10.4% 10.4% 10.4%;    
    margin-top: 10px;
    /* grid-column-gap: 1.45%; */
    position: relative;
    line-height: 0px;
}

.continent{
    line-height: 30px;
    cursor: pointer;
    border-bottom: 1px solid black;
    text-align: center;
    background-color: none;
    transition: background-color 1.5s ease;
    /* padding: 10%; */
}

.continent:hover{
    background-color: #15657D;
}

.active{
    background-color: #15657D;
    color: white;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.autofill{
    z-index: 9999;
    top: 50px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    /* background-color: aqua; */
    padding-right: 110px;
}

.autofill-option{
    padding: 10px;
    padding-right: 100px;
    background-color: white;
    width: 100%;
}

.autofill-option:hover{
    background-color: rgb(183, 183, 183);
    cursor: pointer;
}

#filter-label{
    text-align: right;
    margin-right: 30px;
}


@media only screen and (max-width: 1000px){
    #filter-by-continent{
        grid-template-columns: 32% 32% 32%;
        grid-row-gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .wide{
        grid-column: 1 / span 3;
    }

    #filter-label{
        display: none;
    }
}