/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Noto Sans', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Sono', sans-serif; */
    /* font-family: 'Work Sans', sans-serif; */
}

body {
    margin: 0;
}