<div class="header">
    <div class="header-title">
        <p>Interesting Geography</p>
        <img src="assets/header-icon.png" class="header-image"/>
    </div>

</div>

<div class="content">
    <app-country-details-info [countries]="countries" [selectedCountry]="selectedCountry"></app-country-details-info>
    <div class="navigation-buttons" *ngIf="countries.length > 1">
        <button (click)="rightSwipe()" [disabled]="selectedCountry.index <= 0">←</button>
        <button (click)="leftSwipe()" [disabled]="selectedCountry.index >= countries.length - 1">→</button>
    </div>
</div>