<div class="items" *ngIf="country.name != 'Kosovo'">
    <app-country-details-item class="single-item" [title]="'Ime'" [content]="country.name"></app-country-details-item>
    <app-country-details-item class="single-item" [title]="'Glavni grad'" [content]="country.capitalCity"></app-country-details-item>

    <app-country-details-item class="single-item" [title]="'Regija'" [content]="country.region"></app-country-details-item>
    <app-country-details-item class="single-item" [title]="'Podregija'" [content]="country.subregion"></app-country-details-item>

    <app-country-details-item class="single-item" [title]="'Valuta'" [content]="country.currencies[0]"></app-country-details-item>
    <app-country-details-item class="single-item" [title]="'Populacija'" [content]="country.population.toString()"></app-country-details-item>

    <app-country-details-item class="single-item" [title]="'Vremenska zona'" [content]="country.timeZones[0]"></app-country-details-item>
    <app-country-details-item class="single-item" [title]="'Vremenska zona'" [content]="country.timeZones[0]"></app-country-details-item>

    <app-country-details-item class="single-item" [title]="'Jezik'" [content]="'Srbski'"></app-country-details-item>
    <app-country-details-item class="single-item" [title]="'Geo. duzina i sirina'" [content]="country.longitude + ' ' + country.latitude"></app-country-details-item>

    <app-country-details-item class="single-item" [title]="'Kontinent'" [content]="country.continents[0]"></app-country-details-item>
    <app-country-details-item class="single-item" [title]="'Mapa'" [content]="country.map"></app-country-details-item>

</div>

<div class="crest-container" #crest [@swipe-left]="leftSwipeStateCrest" [@swipe-right]="rightSwipeStateCrest">
    <img src="{{ country.crest }}" class="crest" />
</div>