<div class="items">
    <app-country-details-item class="single-item"></app-country-details-item>
    <app-country-details-item class="single-item"></app-country-details-item>
    <app-country-details-item class="single-item"></app-country-details-item>
    <app-country-details-item class="single-item"></app-country-details-item>
    <app-country-details-item class="single-item"></app-country-details-item>
    <app-country-details-item class="single-item"></app-country-details-item>
    <app-country-details-item class="single-item"></app-country-details-item>
    <app-country-details-item class="single-item"></app-country-details-item>
    <app-country-details-item class="single-item"></app-country-details-item>
    <app-country-details-item class="single-item"></app-country-details-item>
</div>

<div class="crest-container">
    <img src="assets\MAJKACRNAGORAGRB.png" class="crest"/>
</div>